.s1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-height: 80vh;
    margin-top: 10px;
    flex-wrap: wrap;
}

.main-img{
    width: 50vw;
    height: auto;
}

.main-img img{
    width: 100%; 
    height: 100%;
}

.btn-wrap-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px !important;
}

.text-box{
    text-align: center;
    width: 15rem;
    border: #ffffff solid 2px; /*Remover posteriormente*/
}

.btn-wrap-content p{
    color: #000;
}

.btn-show-description{
    background-color: #000000 ;
    color: white;
    width: 100px;
    height: 50px;
    border: solid white 1px;
    border-radius: 20px;
    transition: 450ms ease-in-out;
}

.btn-show-description:hover{
    background-color: #4d4d4d !important;
    transform: scale(1.05);
}

.description-container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    padding: 25px;
    border: solid #fff 2px;
    
}

.description-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000 !important;
}


.close-button button{
    width: 200px;
    height: 40px;
    color: #5a5a5a;
    border-radius: 15px;
    margin-bottom: 32px;
    transition: 450ms ease-in-out;
}

.close-button button:hover{
    transform: scale(1.05);
    background-color: red;
    color: #fff;
}

.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: opacity 400ms ease, transform 400ms ease;
    min-height: 40vh; 
}

.s2.mostrar {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.s2.esconder {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

.video-conteiner{
    width: 100vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video_embed{
    display: flex;
    justify-content: center;
    width: 98vw;
    height: auto;
}

@media (max-width: 800px) {
    .main-img{
        width: 100vw;
        height: auto;
        margin-top: -1.5%;
    }
    .s1{
        flex-direction: row ;
    }
}